<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src='/js/foo.js'></script>
  </head>
  <body>
    <h1 onclick='foo()'><%= title %></h1>
    <%- include('./header'); -%>
    <p>EJS Welcome to xxx <%= title %></p>
    <p><%= user.name %></p>
    <% if (something &&  something.list && something.list.length) { %>  
      <ul>  
        <% something.list.forEach(function(item){ %>  
          <li>
            <span><%= item.fullName %></span>
          </li>  
        <% }) %>  
      </ul>  
    <% } %>
    <%- include('./footer'); -%>
  </body>
</html>
